* {
    font-family: 'Josefin Sans', sans-serif;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    background: rgb(51, 51, 59);
    color: rgb(245, 237, 237);
}

h2 {
    font-size: 35px;
}

.contenedor-sobre-mi {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    border-radius: 15px;
    padding: 20px;
}

.contenedor-habilidades {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    border-radius: 15px;
    padding: 20px;
}

.contenedor-certificados {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    border-radius: 15px;
    padding: 20px;
}

.contenedor-certificados {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    border-radius: 15px;
    padding: 20px;
}

.contenedor-flexible {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-flexible__item {
    /*min-height: 300px;*/
    min-height: 300px;
    min-width: 200px;
    border-radius: 15px;
    flex: 1;
    margin: 10px;
    /*background: rgb(79, 76, 92);*/
    background: linear-gradient(35deg, rgb(67, 65, 77), rgb(142, 142, 153));
    display: flex;
    flex-direction: column;
}

.contenedor-flexible__item-titulo {
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 5px;
    background: rgb(51, 51, 59);
    border-radius: 15px;
}

.contenedor-flexible__item-contenido, .contenedor-flexible__item-contenido-habilidades, .contenedor-flexible__item-contenido-certificate {
    flex: 1;
    text-align: center;
    margin-top: 15px;
}

.contenedor-flexible__item-contenido a {
    text-decoration: none;
    color: rgb(245, 237, 237);;
}

.contenedor-flexible__item-contenido-habilidades {
    margin-top: 25px;
}

.contenedor-flexible__item-contenido p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.contenedor-flexible__item-contenido img {
    width: 180px;
    height: 220px;
    border-radius: 50%;
}

.contenedor-flexible__item-contenido-habilidades img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.contenedor-flexible__item-contenido-certificate img {
    width: 230px;
    height: 190px;
    margin: 10px;
    border-radius: 5%;
}

.contenedor-flexible__item-contenido div a {
    color: rgb(245, 237, 237);
    text-decoration: none;
}

.contenedor-flexible__item-contenido div {
    padding: 10px;
}

.contenedor-flexible__item-contenido div img {
    height: 35px;
    width: 35px;
    border-radius: 0;
    margin: 5px;
}
